@import url('clash-display.css');

body {
  height: 100vh;
  cursor: none !important; 
  margin: 0;
  display: flex;
  position: relative;
  background: linear-gradient(#eee, #dbdbdb);
  scroll-behavior: smooth;
  font-family: 'ClashDisplay-Variable';
  font-family: 'ClashDisplay-Extralight';
  font-family: 'ClashDisplay-Light';
  font-family: 'ClashDisplay-Regular';
  font-family: 'ClashDisplay-Medium';
  font-family: 'ClashDisplay-Semibold';
  font-family: 'ClashDisplay-Bold';
  overflow-x: auto;
  overflow-y: hidden;
}

h1, p, a {
  font-family: 'ClashDisplay-Regular';
}

h1 {
  font-size: 4rem;
}

a.active {
  color: var(--myred) !important;
}

#wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section {
  flex: 0 0 100vw;
  height: 100vh;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section h1, h2, h3{
  font-size: 12rem;
  font-family: 'ClashDisplay-Bold';
}

.section h4{
  font-family: 'ClashDisplay-Medium';
  font-size: 2rem;
}

#section1 h3{
  margin-bottom: -20px;
}

.text-support{
  font-family: 'ClashDisplay-Regular';
}

.subtitle{
  margin-top: -20px;
}

a.active {
  color: red; /* ou qualquer outra cor que você preferir */
}
