:root {
  --myred: #ee4242;
  --mygreen: #54f0ac;
  --myblue: #3983fc;
  --mygold: #ffbc1c;

  --myblack: #070707;
  --mywhite: #f4f4f4;
  --mygray: #d0d0d0;

  --myindigo: #9D8DF1;

}

.myblack{
  color: var(--myblack);
}
  
.myred{
  color: var(--myred);
}

.mywhite{
  color: var(--mywhite);
}

.myrgreen{
  color: var(--mygreen);
}

*{
  --myoldred: #e93c40;
}