/*
    Midas
*/

.proj-midas{
    background-image: url('../../Assets/MainPage/cardtest.jpg');
}

.proj-midas .proj-hover-progress-value::after{
    content: '80%';
    color: var(--mygold);
}

.proj-progress-midas::after{
    content: 'Em desenvolvimento';
}

.proj-midas .proj-hover-progress-status, .proj-hover-progress-value, .proj-hover-link{
    color: var(--mygold) !important;
}

.proj-midas .progress{
    --bs-progress-bar-bg: var(--mygold) !important;
}

.proj-midas .proj-hover-link{
    border-bottom: 1px solid var(--mygold) !important;
    color: var(--mygold) !important;
}

.proj-midas .proj-hover-link:hover{
    color: var(--mygold) !important;
}

.proj-midas .progress-bar{
    width: 50%;
    width: 50%;
}