/*
    EVA
*/

.proj-eva {
    background-image: url('../../Assets/Project-Eva/card-eva.jpg');
}

.proj-eva .proj-hover-progress-value::after{
    content: '40%';
    color: var(--myred);
}

.proj-progress-eva::after{
    content: 'Em desenvolvimento';
}

.proj-eva .proj-hover-progress-status, .proj-hover-progress-value, .proj-hover-link{
    color: var(--myred) !important;
}

.proj-eva .progress{
    --bs-progress-bar-bg: var(--myred) !important;
}

.proj-eva .proj-hover-link{
    border-bottom: 1px solid var(--myred) !important;
    color: var(--myred) !important;
}

.proj-eva .proj-hover-link:hover{
    color: var(--myred) !important;
}